.crossed {
  text-decoration: line-through 2px red;
  -webkit-text-decoration-line: line-through;
  -webkit-text-decoration-color: red;
  -webkit-text-decoration-thickness: 2px;
}
body{
  margin: 0;
}

.container{
  background-image: url('splash.jpg');
  display: flex;
  justify-content: center;
  height: 100vh;

}

.formStyle{
  margin-top:  10vh;
}

ul {
  list-style: none;
}

.listItem {
  font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

input {
  padding: 15px;
  border: none;
  width: 270px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

.btn {
  border: none;
  padding: 15px;
  width: 300px;
  color: rgb(255, 255, 255);
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

.btnOne {
  margin-top: 10px;
}

.btnTwo {
  margin-top: 20px;
}

.btnColorOne {
  background-color: rgb(170, 252, 197);
}

.btnColorTwo {
  background-color: rgb(255, 102, 184);
}